In [39]:
import pandas as pd
import numpy as np
#creating a series of 10 elements 
series=np.arange(10)
reshapedseries=series.reshape(2,5)
print(reshapedseries)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [45]:
#identifying unique value in the blood group.
blood=df['Blood Group'].unique()
print(blood)

['A' 'B' 'O' 'AB']

In [40]:
import pandas as pd

data = {
    'Name': ['shubham', 'devansh', 'suresh', 'saurabh', 'uttam'],
    'ID': [1, 2, 3, 4, 5],
    'Height': [165, 170,None,180, 160],
    'Weight': [60, 70,None, 90, 55],
    'Blood Group': ['A', 'B', 'O', 'AB', 'A'],
    'Grade': ['A', 'B', 'C', 'B', 'A'],
    'Percentage': [85, 75, 65, 80, 90]
}

df = pd.DataFrame(data)
print(df)

      Name  ID  Height  Weight Blood Group Grade  Percentage
0  shubham   1   165.0    60.0           A     A          85
1  devansh   2   170.0    70.0           B     B          75
2   suresh   3     NaN     NaN           O     C          65
3  saurabh   4   180.0    90.0          AB     B          80
4    uttam   5   160.0    55.0           A     A          90

In [41]:
#display size of dataframe
print(df.shape)

(5, 7)

In [42]:
#display the starting rows head() 
print(df.head())
#dislpalys the last rows tail()
print(df.tail())

      Name  ID  Height  Weight Blood Group Grade  Percentage
0  shubham   1   165.0    60.0           A     A          85
1  devansh   2   170.0    70.0           B     B          75
2   suresh   3     NaN     NaN           O     C          65
3  saurabh   4   180.0    90.0          AB     B          80
4    uttam   5   160.0    55.0           A     A          90
      Name  ID  Height  Weight Blood Group Grade  Percentage
0  shubham   1   165.0    60.0           A     A          85
1  devansh   2   170.0    70.0           B     B          75
2   suresh   3     NaN     NaN           O     C          65
3  saurabh   4   180.0    90.0          AB     B          80
4    uttam   5   160.0    55.0           A     A          90

In [43]:
#checking for the missing values
mis=df.isnull().sum()
print(mis)

Name           0
ID             0
Height         1
Weight         1
Blood Group    0
Grade          0
Percentage     0
dtype: int64

In [48]:
#count of the missing value in the hgt and wgt column
missing=df[['Height','Weight']].isnull()
print(missing)

   Height  Weight
0   False   False
1   False   False
2    True    True
3   False   False
4   False   False

In [45]:
#identifying unique value in the blood group.
blood=df['Blood Group'].unique()
print(blood)

['A' 'B' 'O' 'AB']

In [46]:
student=df.loc[:,'Name']
print(student)

0    shubham
1    devansh
2     suresh
3    saurabh
4      uttam
Name: Name, dtype: object

In [47]:
s=df.iloc[2:7,2:5]
print(s)

   Height  Weight Blood Group
2     NaN     NaN           O
3   180.0    90.0          AB
4   160.0    55.0           A